body {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(144, 141, 141);
  color: rgb(39, 39, 39);
  min-height: 100vh;
}

.navbar {
  width: 167px;
  height: 520px;
  background-color: rgb(69, 61, 61);
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 10px;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.navbar button {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  margin: 5px;
  background-color: rgb(27, 26, 26);
  color: rgb(190, 188, 188);
  text-shadow: rgb(81, 81, 81);
  border: none;
  width: 140px;
  height: 40px;
  cursor: pointer;
}

.navbar button.active {
  color: rgb(152, 85, 85);
  position: relative;
}

.navbar button.active::after {
  content: "▶";
  position: absolute;
  left: 100%;
  top: 5%;
  color: rgb(152, 85, 85);
  font-size: 25px;
}

.main_page {
  display: flex;
}

.main_page_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  min-height: 100vh;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 300px;
  gap: 120px;
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(69, 61, 61);
  color: rgb(190, 188, 188);
  text-shadow: rgb(81, 81, 81);
  margin-bottom: 200px;
}

.home img {
  border-radius: 50%;
  border: 1px solid rgb(90, 156, 255);
  box-shadow: 0 0 5px rgb(119, 171, 249);
}

.home_action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.call_to_actions {
  display: flex;
  gap: 3px;
}

.call_to_actions button {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 20px;
  margin: 5px;
  background-color: rgb(60, 99, 159);
  border-radius: 5%;
  box-shadow: 0 0 5px rgb(91, 72, 72);
  color: rgb(190, 188, 188);
  text-shadow: rgb(81, 81, 81);
  border: none;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.about_me {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}

.about_me p {
  font-size: 20px;
}

.contact_call_action {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 20px;
  margin: 5px;
  background-color: rgb(27, 26, 26);
  color: rgb(190, 188, 188);
  text-shadow: rgb(81, 81, 81);
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 350px;
  margin-bottom: 100px;
}

.skills {
  width: 100%;
  display: flex;
  gap: 150px;
  background-color: rgb(69, 61, 61);
  padding: 20px;
  margin-bottom: 100px;
}

.skills_category {
  /* width: 33%; */
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.skills_category button {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 20px;
  margin: 2px;
  background-color: rgb(27, 26, 26);
  color: rgb(190, 188, 188);
  text-shadow: rgb(81, 81, 81);
  border: none;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

.skills_category button.active {
  color: rgb(152, 85, 85);
  position: relative;
}

.skills_category button.active::after {
  content: "▶";
  position: absolute;
  left: 100%;
  top: 5%;
  color: rgb(152, 85, 85);
  font-size: 24px;
}

.skills_list li {
  list-style: none;
  font-size: 18px;
  margin: 10px;
  color: rgb(190, 188, 188);
  position: relative;
  padding-left: 24px;
}

/* ✔ */
.skills_list li::before {
  content: "★";
  position: absolute;
  left: 0;
  top: 0;
  color: rgb(188, 166, 40);
  font-size: 16px;
}

.projects {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 80px;
}

.project_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background-color: rgb(69, 61, 61);
  color: rgb(190, 188, 188);
}

.project_card button {
  width: 120px;
  height: 40px;
  background-color: rgb(27, 26, 26);
  color: rgb(190, 188, 188);
  text-shadow: rgb(81, 81, 81);
  border: none;
  cursor: pointer;
}

.modal_backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.website_details_window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: rgb(69, 61, 61);
  color: rgb(190, 188, 188);
  padding: 30px;
  margin: 10px;
  display: none;
  z-index: 2;
}

.website_details_window.active {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur();
}

.close_button {
  position: absolute;
  top: 3%;
  left: 97%;
  color: rgb(243, 62, 62);
  font-size: 20px;
}

.website_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.website_details p a{
  color: rgb(190, 188, 188);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contacts p {
  font-size: 18px;
}

.contacts form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
  height: 520px;
  background-color: rgb(69, 61, 61);
  margin-bottom: 20px;
}

.contacts form p {
  color: rgb(190, 188, 188);
  font-size: 15px;
  line-height: 0;
}

.contacts form label {
  color: rgb(190, 188, 188);
  font-size: 20px;
}

.contacts form input {
  width: 250px;
  height: 30px;
  outline: none;
}

.contacts form input:focus {
  border: solid 3px rgb(152, 85, 85);
}

.contacts form textarea {
  width: 250px;
  height: 150px;
  resize: none;
  outline: none;
}

.contacts form textarea:focus {
  border: solid 3px rgb(152, 85, 85);
}

.contacts form button {
  width: 150px;
  height: 40px;
  background-color: rgb(27, 26, 26);
  color: rgb(190, 188, 188);
  text-shadow: rgb(81, 81, 81);
  border: none;
  cursor: pointer;
}


@media(max-width: 600px) {
  body {
    width: 100%;
    margin: 0;
  }

  .navbar {
    position: fixed;
    width: 55px;
    height: 600px;
    gap: 30px;
    align-items: flex-start;
  }

  .navbar button {
    font-size: 12px;
    padding: 8px;
    margin: 0;
    width: 60px;
    height: 40px;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    gap: 10px;
    justify-content: center;
  }

  .navbar button.active::after {
    content: "▶";
    top: 90%;
    left: 40%;
    font-size: 18px;
    display: inline-block;
    transform: rotate(90deg);
  }

  .main_page_content {
    padding-left: 55px;
  }

  .home {
    flex-direction: column;
    width: 220px;
    height: 400px;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 160px;
  }

  .about_me{
    flex-direction: column;
  }

  .about_me img{
    display: none;
  }

  .about_me p{
    font-size: 17px;
    width: 280px;
  }

  .contact_call_action{
    font-size: 15px;
    width: 130px;
    height: 40px;
    margin-left: 60px;
  }

  .skills{
    width: 260px;
    padding: 10px;
    gap: 0;
    margin-bottom: 220px;
  }

  .skills_category button{
    font-size: 14px;
    padding: 10px;
    margin: 2px;
    width: 120px;
    height: 30px;
  }

  .skills_category button.active::after{
    font-size: 18px;
  }

  .skills_list li{
    font-size: 16px;
    margin: 2px;
    padding-left: 0;
  }

  .skills_list li::before {
    font-size: 12px;
    left: -12px;
  }

  .projects{
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 50px;
  }

  .project_card{
    width: 220px;
  }

  .website_details_window{
    width: 270px;
    padding: 20px;
    margin: 0;
  }

  .website_details_window img{
    width: 250px;
    height: 140px;
  }

  .website_details_window.active{
    flex-direction: column;
    gap: 0;
  }

  .close_button{
    top: 1%;
    left: 94%;
    /* font-size: 18px; */
  }

  .website_details{
    flex-direction: column;
    gap: 0;
  }

  .website_details p{
    font-size: 14px;
  }

  .contacts{
    gap: 10px;
  }

  .contacts p{
    font-size: 15px;
  }

  .contacts form{
    gap:20px;
    width: 250px;
  }

  .contacts form p{
    font-size: 14px;
  }

  .contacts form label{
    font-size: 17px;
  }

  .contacts form input{
      width: 200px;
  }

  .contacts form textarea{
    width: 200px;
  }
}